# Configuración Global / Referencia SAPC-Chawal-App
PORT=3000

# Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3006
DB_USER=root
DB_PASS=tu_password_local
DB_NAME=chawal_db

# Seguridad y Criptografía
JWT_SECRET=tu_clave_secreta_jwt_para_firmar_tokens
JWT_EXPIRES_IN=24h
