.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-bg-app);
}

.admin-main-content {
  flex: 1;
  margin-left: var(--sidebar-width);
  padding: 32px 40px;
  min-height: 100vh;
  overflow-y: auto;
}
